Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings .filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.naukri.com/')

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [ ]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
job_title=[]
company_names=[]
job_location=[]
experience_required=[]

In [ ]:
title_tagss=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tagss:
    title=i.text
    job_title.append(title)
print(job_title)

In [ ]:
companytags1=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in companytags1:
    company=i.text
    company_names.append(company)
print(company_names)

In [ ]:
joblocations=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in joblocations:
    loc=i.text
    job_location.append(loc)
print(job_location)

In [ ]:
experience_tag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tag:
    exp=i.text
    experience_required.append(exp)
print(experience_required)

In [ ]:
print(len(job_title),len(job_location),len(experience_required),len(company_names))

In [ ]:
df=pd.DataFrame({'Job_Title':job_title,'Company':company_names,'Location':job_location,'Experience':experience_required})

In [ ]:
df

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.

In [13]:
driver1=webdriver.Chrome()

In [21]:
driver1.get('https://www.naukri.com/')

In [23]:
designation1=driver1.find_element(By.CLASS_NAME,"suggestor-input ")
designation1.send_keys('Data Scientist')

In [25]:
location1=driver1.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location1.send_keys('Banglore')

In [26]:
search1=driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [52]:
job_title1=[]
job_location1=[]
experience_required1=[]
company_name1=[]

In [53]:
job_tag=driver1.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in job_tag[0:10]:
    job_title1.append(i.text.strip())
print(job_title1)

['Senior Data Scientist, Reporting', 'Data Scientist, Marketing', 'Sr. Data Scientist (Python, ML, SQL, + )', 'Data Scientist', 'Xoriant is hiring Senior Generative AI Engineer !', 'GenAI Data Scientist', 'Data Scientist II', 'Data Scientist-', 'Data Scientist - Senior Associate - P&T Labs', 'Data Scientist']

In [54]:
com_tag=driver1.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in com_tag[0:10]:
    company_name1.append(i.text)
print(company_name1)

['Coursera', 'Coursera', 'Visa Inc', 'Ford', 'Xoriant', 'Ford', 'Uber', 'Visa Inc', 'PwC Service Delivery Center', 'Tata Consultancy Services (TCS)']

In [55]:
exp_tag=driver1.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tag[0:10]:
    experience_required1.append(i.text)
print(experience_required1)

['6-7 Yrs', '4-6 Yrs', '0-8 Yrs', '3-6 Yrs', '5-10 Yrs', '5-6 Yrs', '4-9 Yrs', '3-7 Yrs', '4-6 Yrs', '6-8 Yrs']

In [56]:
loc_tag=driver1.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in loc_tag[0:10]:
    job_location1.append(i.text.strip())
print(job_location1)

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Hybrid - Pune, Maharashtra, Bangalore Rural, Karnataka, Mumbai (All Areas)', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Bengaluru', 'Bengaluru', 'Mumbai, Hyderabad, Bengaluru', 'Bengaluru, Mumbai (All Areas)']

In [57]:
df2=pd.DataFrame({'Title':job_title1,'Company':company_name1,'Location':job_location1,'Experience':experience_required1})

In [58]:
print(len(job_title1),len(company_name1),len(job_location1),len(experience_required1))

10 10 10 10

In [59]:
df2

,Title,Company,Location,Experience
0,"Senior Data Scientist, Reporting",Coursera,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",6-7 Yrs
1,"Data Scientist, Marketing",Coursera,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",4-6 Yrs
2,"Sr. Data Scientist (Python, ML, SQL, + )",Visa Inc,Bengaluru,0-8 Yrs
3,Data Scientist,Ford,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3-6 Yrs
4,Xoriant is hiring Senior Generative AI Engineer !,Xoriant,"Hybrid - Pune, Maharashtra, Bangalore Rural, K...",5-10 Yrs
5,GenAI Data Scientist,Ford,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",5-6 Yrs
6,Data Scientist II,Uber,Bengaluru,4-9 Yrs
7,Data Scientist-,Visa Inc,Bengaluru,3-7 Yrs
8,Data Scientist - Senior Associate - P&T Labs,PwC Service Delivery Center,"Mumbai, Hyderabad, Bengaluru",4-6 Yrs
9,Data Scientist,Tata Consultancy Services (TCS),"Bengaluru, Mumbai (All Areas)",6-8 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand 
2. ProductDescription 
3. Price
4. Discount

In [152]:
driver2=webdriver.Chrome()

In [153]:
driver2.get('https://www.flipkart.com/')

In [154]:
search2=driver2.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search2.send_keys('sunglasses')

In [164]:

brand_name=[]

In [165]:
import time
# first 100 brand names from first 4 pages
for page in range(0,4):
    brand=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:25]:

        brand_name.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    brand= driver2.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')

In [166]:
len(brand_name)

100

In [167]:
prod_desc=[]

In [168]:
# first 100 product description from first 4 pages
for page in range(0,4):
    product_describe=driver2.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_describe[0:25]:

        prod_desc.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    product_describe=driver2.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [173]:
len(prod_desc)

100

In [158]:
prod_price=[]

In [159]:
# first 100 product price from first 4 pages 
for page in range(0,4):
    product_pricetag=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in product_pricetag[0:25]:

        prod_price.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    product_pricetag=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [169]:
len(prod_price)

100

In [170]:
prod_discount=[]

In [171]:
# first 100 product price from first 4 pages 
for page in range(0,4):
    product_disc=driver2.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in product_disc[0:25]:

        prod_discount.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    product_disc=driver2.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')

In [172]:
len(prod_discount)

100

In [174]:
dfflipkart=pd.DataFrame({'Brand':brand_name,'Product_Description':prod_desc,'Product_price':prod_price,'Discount':prod_discount})

In [175]:
dfflipkart

,Brand,Product_Description,Product_price,Discount
0,NuVew,"UV Protection Over-sized, Wayfarer Sunglasses ...",₹449,74% off
1,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹525,75% off
2,john jacobs,"Polarized, UV Protection Wayfarer Sunglasses (49)","₹3,022",49% off
3,Singco India,"UV Protection, Riding Glasses, Gradient Clubma...",₹249,87% off
4,john jacobs,UV Protection Over-sized Sunglasses (52),"₹1,413",76% off
...,...,...,...,...
95,NuVew,"UV Protection, Gradient Wayfarer Sunglasses (61)",₹330,73% off
96,AISLIN,"UV Protection, Polarized Clubmaster, Retro Squ...",₹565,74% off
97,ROYAL SON,UV Protection Wayfarer Sunglasses (54),₹854,65% off
98,IRUS,Polarized Rectangular Sunglasses (60),₹459,48% off
99,IDEE,"Polarized, UV Protection Retro Square Sunglass...","₹1,729",39% off