Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'

In [4]:
import re
text='Python Exercises, PHP exercises.'
pat_obj=re.compile(r'[\s ,\.]')
result=pat_obj.sub(':',text)
print(result)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [5]:
dict1={'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [6]:
dict1

{'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [7]:
import pandas as pd
df=pd.DataFrame(dict1)
print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [8]:
df1=df['SUMMARY'].str.replace(r'[,!X+;\.+:\d+]',"",regex=True)

In [9]:
df1

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [10]:

def fun4_char(txt):
    regExp=re.compile(r'(\w{4,})')
    result=regExp.finditer(txt)
    for match in result:
        print(match.group())
fun4_char('Python Exercises, JAVA C++ SQL PHP exercises.')

Python
Exercises
JAVA
exercises

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [11]:

def remove_parenthesis(lst):
    new_lst=[]
    pattern_obj=re.compile(r'[()]')
    for match in lst:
        result=pattern_obj.sub('',match)
        print(result)
        #new_lst.append(result) Alternate way using list
    #return(new_lst)
string=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [12]:

remove_parenthesis(string)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [13]:
with open('sample_text.txt','r') as file:
    for match in file:
        pattern_obj=re.compile(r'\(.*?\)')
        result=pattern_obj.sub('',match)
        print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”

In [14]:
text= 'ImportanceOfRegularExpressionsInPython'
result=re.findall(r'[A-Z]+?',text)
print(result)

['I', 'O', 'R', 'E', 'I', 'P']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [61]:
def inst_space(txt):
    pattern=r'\B([A-Z][a-z]+)|([\d]+[A-Z][a-z]+)'
    result=re.sub(pattern, r'\1 \2',txt)
    result=result.strip()
    return result

In [62]:
print(inst_space('RegularExpression1IsAn2ImportantTopic3InPython'))

RegularExpression  1IsAn  2ImportantTopic  3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [52]:
def inst_space1(txt):
    result=re.sub(r'([A-Z][a-z]+)|([\d]+[A-Z][a-z]+)',r'\1 \2',txt)
   
    print(result)
    
inst_space1('RegularExpression1IsAn2ImportantTopic3InPython')

Regular Expression  1IsAn  2ImportantTopic  3InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [18]:
url='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'

In [19]:
df=pd.read_csv(url)

In [20]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [21]:
pattern=r'(\A\w{6})'
df['first_six_letters']=df['Country'].str.extract(pattern,expand=True)

In [22]:
df.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,Finlan
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,Nether
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,Sweden
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,NaN
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,Austra


Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [23]:
def str_match(txt):
   
    pattern = r'\b[A-Za-z0-9_]+$\b'
    if re.match(pattern, txt):
        return 'Found a match!'
    else:
        return 'Not matched!'

In [24]:
string1="Data_Science_Module_1"
string2='Python Excercise from Data Trained'
print(str_match(string1))
print(str_match(string2))

Found a match!
Not matched!

Question 12- Write a Python program where a string will start with a specific number.

In [25]:
def str_match(txt):
   
    pattern = r'^9[A-Za-z0-9]+'
    if re.match(pattern, txt):
        return 'Found a match'
    else:
        return 'Not found match'

In [26]:
text='9756-987763'
text2='5486-65892'
print(str_match(text))
print(str_match(text2))

Found a match
Not found match

Question 13- Write a Python program to remove leading zeros from an IP address

In [27]:
def remove_l_zero(IP_address):
    
    l1=IP_address.split('.') # spliting based on DOt
    l1=[str(int(ipart)) for ipart in l1] #comprehensive list
    new_IP='.'.join(l1)
    return new_IP

In [28]:
IP1='192.068.01.1'
IP2='010.000.000.004'
print(remove_l_zero(IP1))
print(remove_l_zero(IP2))

192.68.1.1
10.0.0.4

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

In [29]:
with open('sample_text1.txt')as file:
    for line in file:
      print(line)   
      result= re.finditer(r'(August|September)\s([\d]{1,2}\s[\d]{4})',line)
      for i in result:
            print(i.group(0))
            print(i.group(1))
            print(i.group(2))

On August 15 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country
August 15 1947
August
15 1947

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [30]:
def search_literal(text):
    pattern=r'(fox|dog|horse)'
    result=re.findall(pattern,text)
    print(result)

In [31]:
text='The quick brown fox jumps over the lazy dog.'
search_literal(text)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [32]:
def search_literal(text):
    pattern=r'(fox)'
    result=re.finditer(pattern,text)
    for match in result:
        print(match.group())
        print('result will start at index',match.start())
        print('result will start at index',match.end())

In [33]:
text1='The quick brown fox jumps over the lazy dog.'
search_literal(text1)

fox
result will start at index 16
result will start at index 19

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [34]:
text2='Python exercises, PHP exercises, C# exercises'

In [35]:
index=text2.find('exercises')
if(index<0):
    print('substring not found')
else:
    print('substring found','at index',index)

substring found at index 7

In [36]:
result

In [37]:
Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

SyntaxError: invalid syntax (3718491704.py, line 1)

In [ ]:
text3='Python exercises, PHP exercises, C# exercises'

In [ ]:
def find_occur_pos(text,substr):
    result=re.finditer(substr,text)
    for match in result:
           
           #print(match,'found at index',index)
           #res=match.group()
           #index=text.find(res)
           print(match.group(),'match at index',match.start())
            #no_of_occurence=text.count(substr)
           # print(no_of_occurence)

In [ ]:
find_occur_pos(text3,'exercises')

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [ ]:
import datetime
from datetime import date
date_obj=datetime.datetime.now()
print(date_obj)
new_format=date_obj.strftime("%d-%m-%y")
print(new_format)
print(date_obj.day,'/',date_obj.month,'/',date_obj.year)

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [ ]:
def find_dec(text):
    reg_obj=re.compile(r'(\b[\d]+\.[\d]{1,2}\b)')
    result=reg_obj.findall(text)
    print(result)
    
text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25" 
find_dec(text)

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
def pos_number(string):
    i=0
    reg_obj=re.compile('\d+')
    result=reg_obj.findall(string)
    for number in result:
        index=string.find(number)
        print(number,'is at position',index)

In [ ]:
string='Today i went to market and purchased fruits Apple cost is Rs 50 and mango cost is Rs 150'
pos_number(string)

def pos_number(string):
    max_number =[]
    reg_obj=re.compile('\d+')
    result=reg_obj.findall(string)
    for number in result:
        max_number.append(number)
        max_number.sort()
    print('largest number is',max_number[-1]) #backward indexing

In [ ]:
text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pos_number(text)

In [ ]:
Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"

In [64]:
def insert_space(string):
    reg_obj=re.compile(r'([A-Z]+[a-z0-9]+)')
    result=reg_obj.findall(string)
    new_list=' '.join(result)
    print(new_list)

In [65]:
text='RegularExpressionIsAnImportantTopicInPython'
insert_space(text)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [ ]:
def find_seq_upper_lower(string):
    reg_obj=re.compile(r'\b([A-Z][a-z]+\b)')
    result=reg_obj.findall(string)
    
    print(result)

In [ ]:
find_seq_upper_lower('Regular expression iS An Important Topic In PythonP')
find_seq_upper_lower('Regular expression Is An Important Topic In Python')

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"

In [42]:
def remove_dup_word(string):
    result=re.sub(r'(\w+)\s+\1',r'\1',string)
    print(result)
    
text="Hello hello world world"
remove_dup_word(text)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [91]:
def end_alphaNum(string):
    pattern=r'[A-Za-z]+[\d]+$'
    result=re.search(pattern,string)
    if (result):
        print('accpet the string')
    else:
        print('reject the string')

In [93]:
string1='hello123'
end_alphaNum(string1)
string2='Hello python@'
end_alphaNum(string2)

accpet the string
reject the string

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [94]:
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pat_obj=re.compile(r'[#]\w+')
result=pat_obj.findall(text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Sample Text: "@Jags123456 Bharat band on 28??<ed><P+00A0><P+00BD><ed><P+00B8><P+0082>Those who  are protesting #demonetization  are all different party leaders"

In [118]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pat_obj=re.sub(r'<U\+[0-9A-F]{2,4}>','',text)
print(pat_obj)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [120]:
with open('sample2.txt','r') as file:
    for match in file:
        result=re.findall(r'\d{2}-\d{2}-\d{2,4}',match)
    print(result)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [132]:
def remove_words(string):
    pat_obj=re.compile(r'\b\w{2,4}\b')
    result=pat_obj.sub('',string)
    print(result)

In [133]:
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove_words(text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.